   *, *:after, *:before
        {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body, html
        {
            font-size: 100%;
            padding: 0;
            margin: 0;
        }
        
      
        body
        {
            font-family: 'Lato' , Calibri, Arial, sans-serif;
            color: #47a3da;
        }
        
        a
        {
            color: #f0f0f0;
            text-decoration: none;
        }
        
        a:hover
        {
            color: #000;
        }
        
        .main, .container > header
        {
            width: 90%;
            max-width: 69em;
            margin: 0 auto;
            padding: 0 1.875em 3.125em 1.875em;
        }

   
        /* Made with http://icomoon.io/ */
        
        .cbp_tmtimeline
        {
            margin: 10px 0 0 0;
            padding: 0;
            list-style: none;
            position: relative;
        }
        
        /* The line */
        .cbp_tmtimeline:before    /*  control the time blue line*/ 
        {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 5px;
            background: #afdcf8;
            left: 0%;
            margin-left: -50px;
        }
        
        .cbp_tmtimeline > li
        {
            position: relative;
        }
        
        /* The date/time */
        .cbp_tmtimeline > li .cbp_tmtime
        {
            display: block;
            width: 15%;
            padding-right: 100px;
            position: absolute;
            left: -40px;
        }
        
        .cbp_tmtimeline > li .cbp_tmtime span
        {
            display: block;
            text-align: right;

        }
        
        .cbp_tmtimeline > li .cbp_tmtime span:first-child
        {
            font-size: 0.5em;
            color: #bdd0db;
            position: relative;
            left: 0px;
            top:25px;
        }
        /*
        .cbp_tmtimeline > li .cbp_tmtime span:last-child
        {
            font-size: 2.5em;
            color: #3594cb;    /* blue 浅色*/
        }*/
        
        .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child
        {
            color: #6cbfee;  
        }
        
       
        .cbp_tmtimeline > li .cbp_tmlabel   /* control   Right content */
        {
            margin: 0 -40px 10px 10%;        /*significant*/
            background: #3594cb;    /*use this blue    深色 */
            color: #fff;
            padding: 1em;
            font-size: 0.8em;   /* the font-size for jounral */
            font-weight: 300;
            line-height: 1.4;
            position: relative;
            border-radius: 5px;

        }
        
        .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel
        {
            background: #6cbfee;    /* when odd use this blue      浅色*/
        }
        
        .cbp_tmtimeline > li .cbp_tmlabel h2
        {
            margin-top: 0px;
            padding: 0 0 10px 0;
            border-bottom: 1px solid rgba(255,255,255,0.4);
        }
        
        /* The triangle */
        .cbp_tmtimeline > li .cbp_tmlabel:after
        {
            right: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color: #3594cb;
            border-width: 5px;
            top: 10px;
        }
        
        .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after
        {
            border-right-color: #6cbfee; /*  浅色*/
        }
        
        /* The icons  content: */
        .cbp_tmtimeline > li .cbp_tmicon     /*the time*/
        {
            width: 20px;
            height: 20px;
            font-family: 'ecoico';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            font-size: 0.4em;
            line-height: 40px;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            color: #fff;
            background: #46a4da;
            border-radius: 50%;
            box-shadow: 0 0 0 8px #afdcf8;
            text-align: center;
            left: 0%;
            top: 0px;
            margin: 0 0 0 -57px;    /* the position of circle */
        }

        /* Example Media Queries */
        @media screen and (max-width: 65.375em)/*784.5px*/
        {
        
            .cbp_tmtimeline > li .cbp_tmtime span:last-child
            {
                font-size: 1.5em;
            }
        }
       
        @media screen and (max-width: 47.2em) /*566.4px*/
        {
             /*  let the blue timeline to display:none*/
             /*
            .cbp_tmtimeline:before
            {
                            display:none;          
            }
       
            .cbp_tmtimeline > li .cbp_tmtime
            {
                width: 100%;
                position: relative;
                padding: 0 0 20px 0;
            }
        
            .cbp_tmtimeline > li .cbp_tmtime span
            {
                text-align: left;
            }
        
            .cbp_tmtimeline > li .cbp_tmlabel
            {
                margin: 0 0 30px 0;
                padding: 1em;
                font-weight: 300;
                font-size: 95%;
            }
        
            .cbp_tmtimeline > li .cbp_tmlabel:after
            {
                right: auto;
                left: 20px;
                border-right-color: transparent;
                border-bottom-color: #3594cb;
                top: -20px;
            }
        
            .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after
            {
                border-right-color: transparent;
                border-bottom-color: #6cbfee;
            }
        
            .cbp_tmtimeline > li .cbp_tmicon
            {
                position: relative;
                float: right;
                left: auto;
                margin: -55px 5px 0 0px;
            }
        }
